//Colors

$color-primary-strong-cyan: hsl(172, 67%, 45%);

$color-neutral-dark-cyan: hsl(183, 100%, 15%);
$color-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
$color-neutral-grayish-cyan: hsl(184, 14%, 56%);
$color-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
$color-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);

$color-white: hsl(0, 0%, 100%);
$color-black: #000000;
$color-red: hsl(0, 70%, 59%);

//Typography

$base-font-size: 16px;
$input-font-size: 1.5rem;

$font-style-space-mono: "Space Mono", monospace;
$font-weight-space-mono: 700;
