.calculator {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  padding: 1.3rem;
  perspective: 1px;
  background-color: $color-white;
  height: 95vh;
  text-align: left;
  width: 100vw;
  &-count {
    min-width: 15rem;
    background-color: $color-white;
    &__box {
      display: flex;
    }
  }
  &-display {
    background-color: $color-neutral-dark-cyan;
  }
}

#fix-position {
  position: absolute;
  top: 5px;
}

.button-container {
  margin-top: 0.2rem;
  margin-bottom: 1.2rem;
  text-align: center;
}
