.input-field {
  display: block;
  position: relative;
  width: 100%;
  max-width: 50rem;
  height: 2.1rem;
  @include font-properties;
  color: $color-neutral-dark-cyan;
  font-size: $input-font-size;
  background-color: $color-neutral-very-light-grayish-cyan;
  border: none;
  border-radius: 0.3rem;
  text-align: right;
  &:focus-visible {
    outline: none;
    border: 3px solid $color-neutral-light-grayish-cyan;
  }
}

.input-img--dolar,
.input-img--person {
  position: absolute;
}

.input-img--dolar {
  top: 3.43rem;
  margin-left: 1.06rem;
}

.input-img--person {
  z-index: 2;
  margin-left: 1.06rem;
  margin-top: 0.45rem;
}
